/*Generic Styles*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background: #FFF;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	font-size: 22px;
	line-height: 38px;
	font-weight: 200;
}
h2 {
	font-size: 42px;
	font-weight: 200;
	margin-bottom: 30px;
}
.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;		
}
.btn-border {
	padding: 10px 26px;
	border: 1px solid #ddd;
	border-radius: 25px;
}

/*navigation*/
.header {
	width: 100%;
	height: 68px;
	z-index: 1;
	position: fixed;
	background: rgba(255,255,255,0.98);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.navigation-wrapper {
	margin: 0 auto;
	width: 75%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.logo img {
	position: absolute;
	top: 3px;
	width: 62px;
	height: 62px;
	border-radius: 50%;
}
.navigation-tools {
	float: right;
	margin-top: 14px;	
	margin-right: 20px;
}
.navigation-tools a {
	font-size: 14px;
	-webkit-transition: opacity 0.2s,background 0.2s;
	transition:opacity 0.2s,background 0.2s;
}
.navigation-tools a.btn-border {
	background-color: #00b0ae;
	color: #FFF;
	opacity: 0.9;
	border:1px;
}
.navigation-tools a.btn-border:hover {
	opacity: 1;
	color: #FFF;
	background-color: #008c8a;
}
.navigation-tools img.cart {
	margin-right: 10px;
	position: relative;
	top: 3px;
}
.primary-navigation {
	float:right;
	overflow: hidden;
	margin-top: 20px;
}
.primary-navigation ul li {
	float: left;
	margin-right: 20px;
}
.primary-navigation ul li a {
	font-size: 14px;
	text-align: left;
	font-weight: 400;
	padding: 5px;
	color: #7b8580;
}
.primary-navigation ul li a:after {
	content: "";
	display: block;
	border-top: 2px solid #00b0ae;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	visibility: hidden;
}
.primary-navigation ul li a:hover {
	color: #00b0ae;
}
.primary-navigation ul li a:hover:after {
	-webkit-transform: scale(1);
	        transform: scale(1);
	visibility: visible;
}
.top-jump {
	width: 40px;
	height: 40px;
	position: fixed;
	right: 0;
	bottom: 0;  
	margin-right: 25px;
	margin-bottom: 25px;
	-webkit-transform: translate3d(500px,0,0);
	        transform: translate3d(500px,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
}
.btn-link {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
}
.btn-link svg {
	fill: #fff;
	margin-left: 9.5px;
	margin-top: 2px;
}
.lightbox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.lightbox-open .lightbox {
  display: block;
  top: 20%;
}
/*avoid pages scroll when lightbox show*/
.body-pages {
	overflow: hidden;
}
.lightbox img {
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
  border-radius: 15px;
}
.lightbox:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.45);
  z-index: -1;
}
.box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40%;
  z-index: 5;
  visibility: hidden;
}
.box-btn p {
  width: 100px;
  margin: 10px auto;
  padding: 13px;
  white-space: nowrap;
  background: #aed6d1;
  color: #55706d;
  border: 5px solid transparent;
  border-radius: 40px;
  box-shadow: none;
  text-align: center;
  text-indent: 10px;
  font-size: 18px;
	line-height: 18px;
  overflow: hidden;
  z-index: 6;
}
.box-btn span {
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}
.box-btn .close {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 40px;
  background: transparent;
  color: transparent;
  border-radius: 40px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}
.box-btn .close:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.lightbox-open .box-btn {
  visibility: visible;
}
.lightbox-open .box-btn p {
  width: 250px;
  background: #55706d;
  color: beige;
  border: 10px solid #8dccc4;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.15); 
  text-indent: 0;
  -webkit-transition: width 1.2s 1s,background 1.2s 1s,color 1.2s 1s,border 0.5s 2.2s, box-shadow 0.3s 2.5s,text-indent 1.2s 1s;
  transition: width 1.2s 1s,background 1.2s 1s,color 1.2s 1s,border 0.5s 2.2s, box-shadow 0.3s 2.5s,text-indent 1.2s 1s;
}
.lightbox-open .box-btn span {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.1s 1.5s,-webkit-transform 0.4s 1.5s;
  transition: opacity 0.1s 1.5s,-webkit-transform 0.4s 1.5s;
  transition: opacity 0.1s 1.5s,transform 0.4s 1.5s;
  transition: opacity 0.1s 1.5s,transform 0.4s 1.5s,-webkit-transform 0.4s 1.5s;
}
.lightbox-open .box-btn .close {
  left: 30%;
  background: #55706d;
  color: beige;
  -webkit-transition: left 0.6s 3s,background 0.3s 3s,color 0.3s 3s;
  transition: left 0.6s 3s,background 0.3s 3s,color 0.3s 3s;
}
.mobile-menu-info {
	position: fixed;
	top: 0;
	right: -240px;
	z-index: 3;		
	overflow: hidden;
	width: 240px;
	height: 100vh;
	background: rgba(255,255,255,0.98);
	-webkit-transition: right 0.5s;
	transition: right 0.5s;
}
.mobile-menu-info li {
	color: #222;
	line-height: 60px;
	margin: 10px auto;
}
.mobile-menu-info li:first-child {
	font-size: 22px;
	font-weight: 500;
	padding-left: 15px;
} 
.mobile-menu-info li a {
	display: block;
	padding-left: 15px;
	color: #222;
}
.mobile-menu-info li:hover a {
	color: #00b0ae;
}
@media screen and (max-width: 1200px) {
	.lightbox img {
		width: 35%;
	}
	.lightbox-open .box-btn .close {
		left: 35%;
	}
	.box-btn p {
		width: 80px;
		text-indent: 5px;
	}
	.lightbox-open .box-btn p {
		width: 22%;
		font-size: 16px;
		line-height: 16px;
	}
}
@media screen and (max-width: 980px) {
	.mobile-menu {
		width: 45px;
		height: 45px;
		float: right;
		position: relative;
		top: -50px;
		right: 5vw;
		line-height: 35px;
		text-align: center;
	}
	.mobile-menu span {
		display: inline-block;
		width: 25px;
		height: 3px;
		background: #7b858b;
		position: relative;
	}
	.mobile-menu span:before,.mobile-menu span:after {
		content: "";
		width: 25px;
		height: 3px;
		background: #7b858b;
		position: absolute;
		left: 0;
	}
	.mobile-menu span:before {
		top: 8px;
	}
	.mobile-menu span:after {
		top: -8px;
	}
	.primary-navigation,.navigation-tools {
		display: none;
	}
	.top-jump {
		margin-right: 20px;
	}
	.lightbox img {
		width: 45%;
	}
	.lightbox-open .box-btn .close {
		left: 45%;
	}
	.box-btn p {
		width: 80px;
		text-indent: 5px;
	}
	.lightbox-open .box-btn p {
		width: 30%;
	}
	.menu-open .mobile-menu {
		z-index: 4;
	}
	.menu-open .mobile-menu span {
		background: transparent;	
	}
	.menu-open .mobile-menu span:before {
		top: 0;
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.menu-open .mobile-menu span:after {
		top: 0;
		-webkit-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
	.menu-open .mobile-menu-info {
		right: 0;
	}
	.menu-open .mobile-menu-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: 2;
		background: rgba(0,0,0,0.4);
	}
}
@media screen and (max-width: 770px) {
	.lightbox img {
		width: 55%;
	}
	.lightbox-open .box-btn .close {
		left: 55%;
	}
	.box-btn p {
		width: 80px;
		text-indent: 5px;
	}
	.lightbox-open .box-btn p {
		width: 35%;
	}
}
@media screen and (max-width: 600px) {
	.lightbox img {
		width: 65%;
	}
	.lightbox-open .box-btn .close {
		left: 65%;
	}
	.box-btn p {
		width: 65px;
		text-indent: 2px;
	}
	.lightbox-open .box-btn p {
		width: 40%;
		font-size: 14px;
		line-height: 14px;
	}
}
@media screen and (max-width: 480px) {
	.header {
		height: 60px;
		box-shadow: 0px 1px 4px rgba(0,0,0,0.1)
	}
	.navigation-wrapper {
		width: 100%;
	}
	.logo img {
		top: 5px;
		left: 20px;
		width: 50px;
		height: 50px;
	}
	.top-jump {
		margin-right: 10px;
	}
	.lightbox img {
		width: 80%;
	}
	.lightbox-open .box-btn .close {
		left: 80%;
	}
	.box-btn p {
		font-weight: bold;
	}
	.lightbox-open .box-btn p {
		width: 50%;
		font-size: 12px;
		line-height: 8px;
		font-weight: bold;
	}
}
/*end navigation*/

/*home*/
.home {
	background: url(../images/home-bg.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
}
.home-info {
	float: right;
	overflow: hidden;
	width: 48%;
	padding-top: 10vw;
	padding-right: 5vw;
	text-align: center;
}
.home-info img {
	width: 120px;
	height: 120px;
	margin-top: 10px;
	border-radius: 50%;
	box-shadow:0px 2px 2px beige;
}
.home-info h1 {
	color: #FFFDE7;
	font-size: 42px;
	font-weight: 200;
	line-height: 100px;
}
.home-info h1:after {
	content: "";
	display: block;
	width: 120px;
	border-top:6px solid #00b0ae;
	margin: 25px auto;
}
.home-info p {
	color: #FFFDE7;
	font-size: 19px;
	width: 80%;
	margin: 0 auto;
}
.home-info-price a {
	margin-top: 50px;
	padding: 16px 32px;
	font-size: 24px;
	font-weight: 300;
	border-radius: 40px;
	background-color: #15a07b;
	color: #FFF;
	opacity: 1;
	border:1px;
	-webkit-transition: opacity 0.2s,background 0.2s;
	transition:opacity 0.2s,background 0.2s;
}
.home-info-price a:hover {
	opacity: 0.9;
	background-color: #158267;
}
@media screen and (max-width: 980px) {
	.home {
		background: url(../images/knocki-bg.jpg) top center no-repeat;
	}
	.home-info {
		float: none;
		width: 95%;
		margin: 0 auto;
		padding-top: 430px;
		padding-right: 0;
	}
	.home-info img {
		display: none;
	}
	.home-info h1 {
		color: #484848;
	}
	.home-info h1:after {
		margin: 0 auto;
	}
	.home-info p {
		width: 70%;
		color: #7b858b;
		margin: 5px auto;
	}
	.home-info-price a {
		margin-top: 10px;
	}
}
@media screen and (max-width: 480px) {
	.home {
		background: url(../images/knocki-bg.jpg) center 8% no-repeat;
		background-size: 85%;
		height: 650px;
	}
	.home-info {
		width: 100%;
		margin: 0 auto;
		padding-top: 270px;
	}
	.home-info h1 {
		width: 98%;
		margin: 0 auto;
		font-size: 30px;
	}
	.home-info p {
		width: 95%;
		font-size: 18px;
	}
}
/*end home*/

/*hello*/
.hello {
	background: #00b0ae url(../images/hello-bg.png) no-repeat;
	background-position: 85% 0;
	width: 100%;
	height: 800px;
}
.hello-info {
	float: left;
	overflow: hidden;
	width: 75%;
	padding-top: 270px;
	text-align: center;
}
.hello-info h2 {
	color: #FFF;
}
.hello-info p {
	color: #FFF;
	width: 70%;
	margin: 40px auto;
}
.hello-info-link a {
	color: #FFF;
	font-size: 16px;
	border: 2px solid #ddd;
	-webkit-transition: all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.hello-info-link a:hover {
	color: #00b6b1;
	background-color: #FFF;
}
@media screen and (max-width: 980px) {
	.hello {
		background-position: 50% 0;
	}
	.hello-info {
		float: none;
		width: 90%;
		margin: 0 auto;	
	}
	.hello-info p {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	.hello {
		background-size: 80%;
		height: 680px;
	}
	.hello-info {
		padding-top: 250px;
	}
	.hello-info h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.hello-info p {
		width: 95%;
		font-size: 18px;
		line-height: 28px;
		margin: 0 auto;
		padding-bottom: 25px;
	}
}
/*end hello*/

/*function*/
.function {
	width: 65%;
	height: 800px;
	padding-bottom: 120px;
	margin: 0 auto;
}
.func-info {
	margin: 50px auto;
	text-align: center;
}
.func-info h2 {
	margin-bottom: 5px;
	color: #00B6B1;
}
.func-info p {
	color: #7b858b;
}
.func-grid {
	width: auto;
	text-align: center;
	margin: 40px auto;
	padding: 0;
	background: #fff;
	box-shadow: 0px 1px 50px rgba(48,54,58,0.6);
	overflow: hidden;
}
.sixgrid {	
	float: left;
	overflow: hidden;	
	width: 33.33%;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.sixgrid:hover {
	background: #FFFDE7;
}
.sixgrid img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.object-fit {
	display: block;
	-o-object-fit: cover;
	   object-fit: cover;
}
.sixgrid:hover img {
	opacity: 0.2;
}
.sixgrid h3 {
	width: 95%;
	margin: 0 auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	font-size: 26px;
	font-weight: 200;
	color: #484848;
	opacity: 0;
	-webkit-transform: translate3d(0,400%,0);
	        transform: translate3d(0,400%,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.sixgrid:hover h3 {
	color: #484848;
	opacity: 1;
	-webkit-transform: translate3d(0,200%,0);
	        transform: translate3d(0,200%,0);
}
.sixgrid p {
	position: relative;
	width: 200px;
	margin: 0 auto;
	font-size: 18px;
	color: #484848;
	opacity: 0;
	-webkit-transform: translate3d(0,100%,0);
	        transform: translate3d(0,100%,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.sixgrid:hover p {
	color: #484848;
	opacity: 1;
}
.unselect {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
@media screen and (max-width: 1200px) {
	.function {
		height: 1100px;
	}
	.sixgrid {
		width: 50%;
	}
}
@media screen and (max-width: 980px) {
	.func-info h2 {
		font-size: 36px;
	}
	.func-info p {
		font-size: 20px;
	}
}
@media screen and (max-width: 600px) {
	.function {
		height: 2000px;
	}
	.sixgrid {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
	.func-info h2 {
		font-size: 32px;
		margin-bottom: 10px;
	}
	.func-info p {
		font-size: 18px;
		line-height: 28px;
	}
	.sixgrid h3 {
		font-size: 24px;
	}
}
/*end function*/

/*setup*/
.setup {
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.setup:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: url(../images/setup-bg.jpeg) no-repeat;
	background-size: cover;
	-webkit-filter: blur(5px);
	        filter: blur(5px);
}
.setup-info {
	width: 80vw;
	margin: 8vw auto;
	padding: 36px 0px;
	text-align: center;
	background: rgba(255,255,255,0.95);
	border-radius: 25px;
}
.setup-info h2 {
	color: rgba(72,72,72,0.75);
	margin-bottom: 0;
	padding: 30px 0px;
	text-shadow: 0px 2px 3px beige;
}
.setup-info p {
	color: #7b858b;
	line-height: 32px;
	padding: 18px 10px;
}
.setup-info strong {
	color: rgba(72,72,72,0.7);
	font-size: 28px;
	font-weight: 300;
	text-shadow: 0px 1px 1px beige;
}
@media screen and (max-width: 480px) {
	.setup {
		height: 550px;
	}
	.setup-info {
		width: 88vw;
		padding: 5px 0;
	}
	.setup-info h2 {
		font-size: 32px;
	}
	.setup-info p {
		font-size: 18px;
		line-height: 28px;
		padding: 5px 10px;
	}
}
/*end setup*/

/*attach_remove*/
.attach_remove {
	background: url(../images/attach_remove-bg.png) 90% no-repeat;
	background-size: cover;
	width: 100%;
	height: 900px;
}
.attach_remove-info {
	width: 100%;
}
.attach_remove-info h2 {
	color: #fff;
	width: 90%;
	padding-top: 120px;
	font-weight: 100;
	text-align: center;
}
.attach_remove-info li {
	color: #fff;
	line-height: 54px;
	font-size: 22px;
	font-weight: 100;
	padding-top: 25px;
	padding-left: 50%;
}
@media screen and (max-width: 1200px) {
	.attach_remove-info h2 {
		width: 85%;
		margin:0 auto;
	}
	.attach_remove-info li {
		width: 50%;
		margin: 0 auto;
		padding-left: 0;
		text-align: center;
	}
}
@media screen and (max-width: 980px) {
	.attach_remove-info h2 {
		width: 80%;
		padding-top: 220px;
	}
	.attach_remove-info li {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	.attach_remove {
		height: 500px;
	}
	.attach_remove-info h2 {
		color: beige;
		width: 95%;
		font-size: 28px;
		padding-top: 70px;
		padding-bottom: 50px;
	}
	.attach_remove-info li {
		color: bisque;
		font-size: 18px;
		line-height: 32px;
		text-align: left;
	}
}
/*end attach_remove*/

/*tap_knock*/
.tap_knock {
	background:url(../images/tap_knock-bg.png) no-repeat;
	background-position: 90% 40%;
	background-size: 550px auto;
	width: 100%;
	height: 800px;
	position: relative;
}
.tap_knock:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-image: -webkit-linear-gradient(top, #fdf1f4 0%, #ecedf6 100%);
	background-image: linear-gradient(to bottom, #fdf1f4 0%, #ecedf6 100%);
}
.tap_knock-info {
	width: 75%;
	padding-top: 150px;
	padding-left: 100px;
}
.tap_knock-info h2 {
	color: #333;
}
.tap_knock-info p {
	color: #2a3c3e;
	width: 50%;
	padding: 40px 0;
}
@media screen and (max-width: 1200px) {
	.tap_knock {
		background-position: 50% 80%;
		height: 900px;
	}
	.tap_knock-info {
		width: 90%;
		margin: 0 auto;
		padding-top: 50px;
		padding-left: 0;
	}
	.tap_knock-info h2 {
		text-align: center;
	}
	.tap_knock-info p {
		width: 100%;
		padding: 0 0;
		text-align: center;
	}
}
@media screen and (max-width: 980px) {
	.tap_knock {
		background-position: 50% 85%;
	}
	.tap_knock-info p {
		font-size: 20px;
		line-height: 32px;
	}
}
@media screen and (max-width: 600px) {
	.tap_knock {
		background-size: 450px auto;
	}
}
@media screen and (max-width: 480px) {
	.tap_knock {
		height: 850px;
		background-size: 350px auto;
		background-position: 50% 82%;
	}
	.tap_knock-info h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.tap_knock-info p {
		width: 95%;
		font-size: 18px;
		line-height: 28px;
	}
}
/*end tap_knock*/

/*app*/
.app {
	background: #fff url(../images/app-bg.png) no-repeat;
	background-position: 10% 45%;
	background-size: 500px auto;
	width: 100%;
	height: 800px;
	overflow: hidden;
}
.app-info {
	float: right;
	overflow: hidden;
	width: 50%;
	margin-top: 200px;
}
.app-info h2 {
	color: #2a3c3e;
}
.app-info p {
	width: 90%;
	color: #7b858b;
	font-size: 20px;
}
.app-info-link a {
	display: block;
	color: #00b0ae;
	margin-top: 50px;
	-webkit-transition: all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.app-info-link a:hover {
	color: #008c8a;
}
@media screen and (max-width: 980px) {
	.app {
		background-position: 50% 10%;
	}
	.app-info {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding-top: 480px;
		text-align: center;
	}
	.app-info h2 {
		margin-bottom: 20px;
	}
	.app-info p {
		width: 70%;
		margin: 0 auto;
	}
	.app-info-link a {
		margin-top: 20px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 600px) {
	.app-info p {
		width: 80%;
		font-size: 20px;
		line-height: 32px;
	}
}
@media screen and (max-width: 480px) {
	.app {
		height: 750px;
		background-size: 80%;
	}
	.app-info {
		width: 90%;
		padding-top: 380px;
	}
	.app-info h2 {
		font-size: 32px;
	}
	.app-info p {
		width: 95%;
		font-size: 18px;
		line-height: 28px;
	}
}
/*end app*/

/*tech_platform*/
.tech_platform {
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.tech_platform-left {
	background: url(../images/tech_platform-left.jpg) no-repeat;
	background-size: cover;
	float: left;
	width: 50%;
	height: 100%;
}
.tech_platform-left-info {
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.4);
	-webkit-transition: background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.tech_platform-left-info:hover {
	background: rgba(0,0,0,0.8);	
}
.tech_platform-left-info h2 {
	color: #FFF;
	padding-top: 100px;
	font-size: 32px;
	line-height: 36px;
}
.tech_platform-left-info a {
	color: #FFF;
	-webkit-transition: all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.tech_platform-left-info a:hover {
	background: #00b0ae;
	border-color: #00b0ae;
	color: #FFF;
}
.tech_platform-right {
	background: url(../images/tech_platform-right.jpg) no-repeat;
	background-size: cover;
	float: right;
	width: 50%;
	height: 100%;
}
.tech_platform-right-info {
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.4);
	-webkit-transition: background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;	
}
.tech_platform-right-info:hover {
	background: rgba(0,0,0,0.8);	
}
.tech_platform-right-info h2 {
	color: #FFF;
	padding-top: 100px;
	font-size: 32px;
	line-height: 36px;
}
.tech_platform-right-info a {
	color: #FFF;
	-webkit-transition: all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.tech_platform-right-info a:hover {
	background: #00b0ae;
	border-color: #00b0ae;
	color: #FFF;
}
@media screen and (max-width: 980px) {
	.tech_platform {
		height: 600px;
	}
	.tech_platform-left,.tech_platform-right {
		float: none;
		width: 100%;
		height: 50%;
	}
	.tech_platform-left-info h2,.tech_platform-right-info h2 {
		font-size: 28px;
		line-height: 32px;
	}
}
@media screen and (max-width: 480px) {
	.tech_platform-left-info h2,.tech_platform-right-info h2 {
		font-size: 22px;
	}
}
/*end tech_platform*/

/*footer*/
.footer {
	width: 100%;
	margin: 0 auto;
	padding-top: 70px;
	overflow: hidden;
}
.footer-content-left {
	float: left;
	width: 40%;
	margin-left: 15%;
}
.footer-knockiimg {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.footer-knockiimg-rotate {
	-webkit-animation: 1s submitcorrect;
	        animation: 1s submitcorrect;
}
@-webkit-keyframes submitcorrect {
	from {
		-webkit-transform: rotate3d(0,0,1,0deg);
		        transform: rotate3d(0,0,1,0deg);
	}
	to {
		-webkit-transform: rotate3d(0,0,1,720deg);
		        transform: rotate3d(0,0,1,720deg);
	}
}
@keyframes submitcorrect {
	from {
		-webkit-transform: rotate3d(0,0,1,0deg);
		        transform: rotate3d(0,0,1,0deg);
	}
	to {
		-webkit-transform: rotate3d(0,0,1,720deg);
		        transform: rotate3d(0,0,1,720deg);
	}
}
.email-info {
	margin: 5px auto;
}
.input_email {
	width: 200px;
	height: 24px;
	line-height: 17px;
	font-size: 14px;
	font-weight: 200;
	padding: 2px 6px;
	background: white;
  background-clip: padding-box;
	color: #555555;
	border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: none;
  vertical-align: top;
}
.input_email:focus {
	border: 1px solid #00b0ae;
	box-shadow: 0 0 0 3px rgba(0,176,174,0.4);
	outline: 0;
}
.submit_sharelink {
	background: #00b0ae;
	color: #FFF;
	width: 90px;
	height: 30px;
	line-height: 17px;
	font-size: 14px;
	border: 0px;  
	border-radius: 4px;
	outline: 0;
  cursor: pointer;
  vertical-align: top;
}
.submit_sharelink:hover {
	background: #008c8a;
}
.submitted {
	font-size: 24px;
	color: #7b858b;
}
.error_notice {
	font-size: 16px;
	font-weight: 400;
	color: tomato;
}
.field-help {
	margin: 0;	
	padding: 0;
	font-size: 14px;
	color: #777;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: padding 0.2s;
	transition: padding 0.2s;
}
.field-help_focus {
	padding: 10px 0;
	max-height: 100px;	
}
.copy {
	margin: 10px auto;
	font-size: 13px;
	font-weight: 400;
	color: #7b858b;
}
.cards {
	margin: 10px auto;
	overflow: hidden;
}
.cards li{
	float: left;
	margin-right: 10px;
}
.footer-content-right {
	float: left;
	width: 20%;
	margin-left: 10%;	
}
.quick-links-1 {
	float: left;
	width: 40%;
	margin-right: 2%;
}
.quick-links-2 {
	float: right;
}
.link_title {
	color: #2a3c3e;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.quick-links-1 li a,.quick-links-2 li a{
	color: #7b858b;
	font-size: 14px;
	margin-bottom: 10px;
}
.quick-links-1 li a:hover,.quick-links-2 li a:hover {
	color: #00b0ae;
}
.footer-info {
	clear: both;
	padding-top: 70px;
}
.footer-info p {
	text-align: center;
	margin: 0 0 0.75em;
	padding: 0 40px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #7b858b;
}	
.footer-info a {
	font-size: 0.7em;
	color: #7b858b;
}
.footer-info a:hover {
	color: #00b0ae;
}
@media screen and (max-width: 980px) {
	.footer {
		padding-top: 50px;
	}
	.footer-content-left {
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.footer-knockiimg {
		display: inline-block;
		margin-bottom: 10px;
	}
	.email-info {
		width: 310px;
		text-align: left;
	}
	.copy {
		margin: 0 auto;
	}
	.cards {
		text-align: center;
	}
	.cards li {
		float: none;
		display: inline-block;
	}
	.footer-content-right {
		width: 80%;
		text-align: center;
	}
	.quick-links-1 {
		margin-left: 3%;	
	}
	.quick-links-2 {
		margin-right: 15%;
	}
	.footer-info {
		padding-top: 35px;
	}
	.footer-info p {
		font-size: 14px;
		
	}	
}
/*end footer*/